 
        div {
            text-align: center; 
        }

        div div{
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: cyan;
            border: 1px solid black;
            line-height: 50px;
            font-size: 18px;
            margin: 2px;
            cursor: pointer;
        
        }

        div div:hover {
            color: red;
            background-color: yellow;
        }